
*{
    text-align: center;
    color: rgb(216, 108, 108);
}
body{
    background-image: url(img/bghhh.jpg);
}
.main {
    padding: 2rem;
}
header {
    margin-bottom: 3rem;
}
.personajes{
    display:inline-block;
    position:relative;
}
.personajes > div {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    padding:10px;
    margin:0;
}
img{
    width: 20rem;
    height: 20rem;
    margin: 15px 0rem 20px 0rem;
    transition: 1s;
    opacity: 1;
    filter: grayscale(0);
    border-radius: 10px;
}
.desvanecer:hover {
    opacity: 0.09;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}
.historia {
    padding: 5rem;
    text-align: center;
    background-color: rgb(53, 52, 51);
    opacity: 0.9;
    border-radius: 25px 25px 0 0;
}

.total-personajes{
    background-color: rgb(53, 52, 51);
    opacity: 0.9;
    padding: 3rem;
}
.inicios{
    background-color: rgb(53, 52, 51);
    opacity: 0.9;
    padding: 3rem;
    border-radius: 0 0 25px 25px;
    margin-bottom: 3rem;
}

.historia h1, .inicios h1, .total-personajes h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.historia p,.inicios p,.total-personajes p {
    font-size: 1.2rem;
    line-height: 1.5;
}
@media (max-width: 810px) {
    .total-personajes{
        padding-left: 0%;
        padding-right: 0%;
    }
}
@media (max-width: 412px) {
    .total-personajes{
        padding-left: 0%;
    }
}
@media (max-width: 360px) {
    .total-personajes{
        padding-left: 0%;
    }
}