* {
    box-sizing: border-box;
    margin: 0;
    color: wheat;
}

body {
    font-size: 1.2rem;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin: 0;
    background-image: url(img/54-548122_one-piece-logo-png.ico);
}

header {
    width: 100%;
    display: flex;
    background-color: dimgray;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 0 0 35px 35px;
    box-shadow: 0 0 20px rgb(126, 124, 122);
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    cursor: pointer;
}

.fondo {
    margin: 0% 0% 0% 2rem;
    flex-direction: column;
    align-items: center;
}

img {
    height: 36rem;
    width: 25rem;
    margin: 0% 0rem 0% 1rem;
    margin-bottom: 20px;
    transition: 1s;
    opacity: 0.8;
    filter: invert(1.4);
    border-radius: 100px;
}

img:hover {
    background-color: aqua;
    box-shadow: 0 0 2rem white;
    transform: scale(1.05);
    opacity: 1;
}

.luffy:hover {
    filter: sepia(100%) hue-rotate(-90deg) saturate(30);
    transition-duration: 0.5s;
}

.sanji:hover {
    transition-duration: 0.5s;
    filter: sepia(100%) hue-rotate(0deg) saturate(50);
}

.zoro:hover {
    filter: sepia(100%) hue-rotate(90deg) saturate(30);
    transition-duration: 0.5s;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
}

li {
    margin-right: 1rem;
}

footer {
    text-align: center;
    background-color: dimgray;
    width: 100%;
    box-shadow: 0 0 20px rgb(126, 124, 122);
    padding: 1rem;
    border-radius: 35px 35px 0 0;
}

@media (max-width: 768px) {
    body {
        font-size: 1rem;
    }

    .fondo {
        margin: 0% 0% 0% 3.3rem;
        flex-direction: column;
        align-items: center;
    }

    header {
        padding: 0.5rem;
    }

    img {
        margin-bottom: 10rem;
        margin: 0%;
        width: 19.5rem;
    }

    ul {
        flex-direction: column;
    }

    li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    footer {
        padding: 0.5rem;
    }
}

@media (max-width: 810px) {
    .fondo {
        margin: 0% 0% 0% 24%;
    }
}

@media (max-width: 810px) {
    .fondo {
        margin: 0% 0% 0% 23%;
    }
}

@media (max-width: 414px) {
    .fondo {
        margin: 0% 0% 0% 13%;
    }
}

@media (max-width: 428px) {
    .fondo {
        margin: 0% 0% 0% 14%;
    }
}

@media (max-width: 412px) {
    .fondo {
        margin: 0% 0% 0% 11.8%;
    }
}

@media (max-width: 390px) {
    .fondo {
        margin: 0% 0% 0% 10%;
    }
}

@media (max-width: 388px) {
    .fondo {
        margin: 0% 0% 0% 6.8%;
    }
}

@media (max-width: 384px) {
    .fondo {
        margin: 0% 0% 0% 8.8%;
    }
}

@media (max-width: 360px) {
    .fondo {
        margin: 0% 0% 0% 6.8%;
    }
}